{
    "tests_codification": {
        "input": {
            "filename": "video_samples/barcelona_bilbao_06_360p_30fps.mp4"
        },
        "output": {
            "filename": "output/cartoon_full_video_final.mp4",
            "replace faces": false,
            "animegan_model": "AnimeGANv3_Hayao_36.onnx"
        }
    },
    "live_stream": {
        "source": "http://your-iptv-source-url:8080/...",
        "target_width": 640,
        "target_fps": 15,
        "live_url": "rtmp://a.rtmp.youtube.com/live2",
        "live_key": "your-youtube-stream-key"
    }
    // For Twitch:
    // "live_stream": {
    //     "source": "http://...",
    //     "target_width": 640,
    //     "target_fps": 15,
    //     "live_url": "rtmp://live.twitch.tv/app/",
    //     "live_key": "your-twitch-stream-key"
    // }
}